@import "./css/scroll.scss";
@import "~bootstrap/scss/bootstrap";

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


@import "./css/vars.scss";

.myBtn {
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 15px;
    background: #FF1029;
    background: -webkit-linear-gradient(to right, #FF1029, #FF6E79); 
    background: linear-gradient(to right, #FF1029, #FF6E79); 
    cursor: pointer;
}

.myContainerFluid {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F9FAFE;
}

.wrapper {
    min-height: 100vh;
    padding: 0 20px;
    margin-left: $sidebarWidth;
    background-color: #F8FAFE;
    overflow: hidden;

    &--player {
        margin-bottom: $playerHeight;
    }
}

.content {
    padding-bottom: 10px;
}

.myRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.myCol {
    flex: 0 0 100%;
    padding: 0 15px;
    // margin-bottom: 15px;
}

.song_img {
    width: 40px;
    height: 40px;
}

@import './css/media.scss'