@import "./css/media.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
}


$primaryColor: #0c2575;
$secondaryColor: #C6C9D3;
$playerHeight: 70px;
$sidebarWidth: 260px;
$danger: #DC3545;
$activeColor: #FF233A;

@mixin transition ($prop) {
    transition: #{$prop} .15s linear;
}

@mixin textEllipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.myBtn {
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    background: #FF1029;
    background: -webkit-linear-gradient(to right, #FF1029, #FF6E79); 
    background: linear-gradient(to right, #FF1029, #FF6E79); 
    cursor: pointer;
}

.myContainerFluid {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F9FAFE;
}

.wrapper {
    min-height: 100vh;
    padding: 0 20px;
    margin-left: $sidebarWidth;
    margin-bottom: $playerHeight;
    background-color: #F8FAFE;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    width: $sidebarWidth;
    max-height: 100vh;
    height: 100%;
    padding: 30px 20px;
    overflow-y: scroll;

    background-color: #fff;
    border-right: 2px solid #FBFBFD;
    z-index: 10;
    @include transition(transform);

    &__close {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    &--active {
        transform: translateX(0) !important;
    }

    &__nav {

    }
}

.sidebar_nav {

    &__list {

    }

    &__item {
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &_icon {
            margin-right: 15px;
            color: $secondaryColor;
            text-align: center;
            width: 15px;
            height: 15px;
        }

        &_text {

        }
    }
    
    &__link {
        display: flex;
        color: $primaryColor;
        @include transition(color);
        
        &--active {
            color: #4F6EE1;
        }
    
        &--active &_icon {
            color: #4F6EE1;
        }

        &:hover {
            color: #4F6EE1;
        }
    } 

    &__title {
        margin: 40px 0 25px;

        color: $secondaryColor;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.profile {
    text-align: center;
    margin-bottom: 60px;

    &__img {
        width: 65px;
        height: 65px;
        margin-bottom: 10px;

        border-radius: 50px;
        box-shadow: 0 20px 20px rgba(#000, .05);
    }
    
    &__name {
        margin-bottom: 5px;
        font-size: 15px;
    }
    
    &__link {
    }
    
    &__email {
        font-size: 14px;
        color: $secondaryColor;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 25px;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    color: $secondaryColor;
    font-weight: normal;
}

.full_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
    .title {
        margin-bottom: 0;
    }
    .subtitle {
        @include transition(color);
        &:hover {
            color: $primaryColor;
        }
    }
}

.search {

    width: 100%;

    &__form {

    }

    &__inner {
        position: relative;
    }

    &__input {
        min-width: 50%;
        padding: 10px 40px 10px 50px;
        
        border: 1px solid $secondaryColor;
        border-radius: 25px;
        background-color: inherit;
        font-size: 17px;
        color: $secondaryColor;
        @include textEllipsis;

        &::placeholder {
            color: $secondaryColor;
        }
    }

    &__btn {
        position: absolute;
        padding: 0;
        left: 25px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon {
        font-size: 17px;
        color: #CBD1E0;
    }

    &--mobile {
        display: none;
        margin-bottom: 15px;
    }
}

.mobile_burger {
    display: none;
    margin-right: 15px;
    cursor: pointer;
}

.top_nav {

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        color: #BCC3D7;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__link {
        color: inherit;
        @include transition(color);

        &:hover {
            color: $primaryColor;
        }
    }
}

.playlists {

    &__list {
    }

    &__item {
        padding: 0 15px;
        margin-bottom: 30px;
        max-width: 25%;
        flex: 0 0 25%;
        
    }
    
    &__img {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 20px;
        box-shadow: 0 15px 10px rgba(#000, .15);
        @include transition(transform);
        
        &:hover {
            transform: translateY(-2%);
        }
    } 

    &__name {
        color: $primaryColor;
        font-weight: 500;
    } 

}

.myRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.myCol {
    flex: 0 0 100%;
    padding: 0 15px;
    // margin-bottom: 15px;
} 

.music {

    &__list {
        margin-top: 15px;
    }

    &__item {
        margin-bottom: 10px;
    }
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: $secondaryColor;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 5px 10px rgba(#000, .05);
    font-size: 15px;

    &__img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }
    
    &__play {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $secondaryColor;
    }

    &__name {
        font-weight: 500;
        color: $primaryColor;
        flex: 0 0 30%;
        @include textEllipsis;
    }


    &__artist {
        flex: 0 0 20%;
        @include textEllipsis;
    }

    &__duration {

    }

    &__like {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $secondaryColor;
        @include transition(color);
        
        &--active {
            color: $activeColor;
        }
        
    }

}

.main_player {
    position: fixed;
    right: 0;
    bottom: 0;

    width: calc(100% - 260px);
    min-height: 70px;
    padding: 0 20px;
    
    color: #fff;
    background: rgba(1, 4, 27, .5);
    backdrop-filter: blur(10px);
    z-index: 20;

    &__inner {
        display: flex;
        align-items: center;
        margin: 0 -15px;
        padding: 15px 0;
    }

    &__item {
        display: flex;
        margin: 0 15px;
    }
        
    &__music_info {
        align-items: center;
        flex-grow: 2;
        overflow: hidden;
    }

    &__song_img {
        margin-right: 25px;
    }

    &__music_slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__song_name {
        @include textEllipsis;
    }

    &__range {
        width: 100%;
    }

    &__buttons {
        align-items: center;
        justify-content: center;
    }
    &__btn {
        cursor: pointer;
        padding: 0 10px;
    }
    &__volume {
        justify-content: flex-end;
        align-items: center;
        
        &_range {
            max-width: 50%;
            margin: 7px 10px;
            width: 100%;
        }
        &_down, &_up {
            cursor: pointer;
            @include transition(color);

            &:hover {
                color: $danger;
            }
        }
    }
}

.player_range {
    -webkit-appearance: none;
    margin: 10px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: #d3d7e4;
        border-radius: 50px;
    }
    &::-webkit-slider-thumb {
        border: 3px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #1942D8;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6.5px;
    }
    &:focus::-webkit-slider-runnable-track {
        background: #d3d7e4;
    }
    &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: #d3d7e4;
        border-radius: 50px;
    }
    &::-moz-range-thumb {
        border: 3px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #1942D8;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: #d3d7e4;
        border-radius: 100px;
    }
    &::-ms-fill-upper {
        background: #d3d7e4;
        border-radius: 100px;
    }
    &::-ms-thumb {
        border: 3px solid #ffffff;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: #1942D8;
        cursor: pointer;
    }
    &:focus::-ms-fill-lower {
        background: #d3d7e4;
    }
    &:focus::-ms-fill-upper {
        background: #d3d7e4;
    }
}

.song_img {
    width: 40px;
    height: 40px;
}

.song_card {
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 5px 10px rgba(#000, .05);
    border-radius: 3px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        max-width: 66.666%;
        flex: 0 0 66.666%;
        padding: 0 15px;
    }

    &__wrapper {
        max-width: 33.333%;
        flex: 0 0 33.333%;
        padding: 0 15px;
    }
    
    &__title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    &__details {
        color: darken($secondaryColor, 30);
        
        &_item {
            margin-bottom: 10px;
            
            &--last {
                margin-bottom: 15px;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;

        &_inner {
            display: flex;
            align-items: center;
        }
    }

    &__circle_item {

    }
}

.circle_item {
    width: 40px;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    box-shadow: 1px 2px 10px rgba(#000, .1);
    cursor: pointer;
    
    &:not(:last-child) {
        margin-right: 10px;
    }
    
    &__link {
        color: $secondaryColor;
        @include transition(color);
        line-height: 16px;
        
        &--active {
            color: $activeColor;
        }
    }
}


@import './css/scroll.scss'